.allBorder {
  border: 1px solid red;
}

.card {
  width: 25rem;
  height: 28rem;
  font-size: 2rem;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: 5px 5px 15px 2px;
}

textarea{
  width: 95%;
  height: 95%;
  resize: none;
}

.btn-size{
  width: 100%;
}