.allBorder {
  border: 1px solid red;
}

.card {
  width: 20rem;
  height: 23rem;
  font-size: 2rem;
  text-align: center;
  background-color: antiquewhite;
  box-shadow: 5px 5px 15px 5px;
}

.inputText{
  width: 95%;
  height: 5rem;
  resize: none;
}

.btn-size{
  width: 100%;
}